.text {
    text-align: center;
    font-weight: bold;
    padding-bottom: 1rem;
}

.button {
    display: flex;
    justify-content: center;
}

.center_card {
    display: flex;
    justify-content: center;
}